body{
    background-color: rgb(201, 230, 173);
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  background-color:rgb(240, 233, 234);
  /* border: 2px solid rgb(255, 192, 247); */
  padding: 10px;
}
.grid-item{
  /* box-shadow: 10px 10px greenyellow; */
    height: 220px;
  background-color: rgb(251, 253, 254);
  text-align: center;
  padding: 5px;
  border: 2px solid rgb(18, 155, 229);
}
.grid-item:hover{
  border: 5px solid rgb(243, 238, 238);
  box-shadow: 5px 5px 5px yellow;
  box-shadow: -5px -5px -5px yellow;
}
